<h1>dish details</h1>

<p><%= dish.title %></p>

<img src="<%= dish.image_url %>" alt="" />

<form action="/dishes/<%= dish.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <button>delete</button>
</form>

<a href="/dishes/<%= dish.id %>/edit">edit</a>