<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GFH</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <% if (isLoggedIn()) { %>
      <form action="/sessions" method="post">
        <input type="hidden" name="_method" value="delete" />
        <button>logout</button>
      </form>
      <p>logged in as <%= currentUser.email %></p>
      <% } %>

      <nav>
        <a href="/" class="home-log-sign">Home</a>
        <a href="/login" class="home-log-sign">Login</a>
        <% if (isLoggedIn()) { %>
        <a href="/dishes/new" class="home-log-sign">Share A Dish</a>
        <% } %>
      </nav>
    </header>

    <%- body %>
  </body>
</html> 