<h1>sign up</h1>
<form action="/users" method="post">
  <label for="email" class="input-label">Email:</label>
  <input type="text" name="email" />
  <label for="" class="input-label">Password:</label>
  <input type="password" name="password" />
  <label for="" class="input-label">Password Confirmation:</label>
  <input type="password" name="password_confirmation" />
  <button>signup</button>
</form>